[user]
	name = Lukas Erlacher
	email = erlacher@in.tum.de
[github]
	user = duk3luk3
[merge]
	tool = diffconflicts
	conflictstyle = diff3
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
[mergetool]
	keepBackup = false
[credential]
	helper = !/usr/lib/jvm/java-8-openjdk/jre/bin/java -Ddebug=false -Djava.net.useSystemProxies=true -jar /home/erlacher/git/credman/git-credential-manager-2.0.4.jar
	canFallBackToInsecureStore = true
